<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
        <div class="jumbotron">
            <p> Last ItemID Scanned: <%= lastid %> </p>
            <table class="table-condensed">
                <tr>
                    <td>
                       Icon:
                    </td>
                    <td>
                        Name:
                    </td>
                    <td>
                        Profit (gold):
                    </td>
                    <td>
                        IndexedAt:
                    </td>
                    <td>
                        Buy:
                    </td>
                    <td>
                        Sell:
                    </td>

                    <td>
                        Tools:
                    </td>
                </tr>

                <% table.forEach(function(item) { %>
                    <tr id="item-<%= item.id %>">
                        <td><img src="<%= item.icon %>" style="width: 64px; height: 64px;"></td>
                        <td><a href="http://www.gw2spidy.com/item/<%= item.id %>"><%= item.name %></a></td>
                        <td id="itemspread-<%= item.id %>"><%= format_coins(item.spread) %></td>
                        <td id="itemindexat-<%= item.id %>"><%=  moment(item.indexedat).fromNow() %></td>
                        <td id="itembuy-<%= item.id %>"><%= format_coins(item.buy)  %></td>
                        <td id="itemsell-<%= item.id %>"><%= format_coins(item.sell) %></td>
                        <td><a onclick="update_table(<%= item.id %>)"> Update Now </a></td>
                    </tr>
                <% }); %>
           </table>
           <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.js"></script>
           <script type="text/javascript">
           
               function format_coins(m) {
                   var copper = m % 100;
                   m = (m - copper) / 100;
                   var silver = m % 100;
                   var gold = (m - silver) / 100;
                   return gold + "g " + silver + "s " + copper + "c";
               }

               function update_table(id) {
                  $.getJSON( "/scan/" + id , function( data ) {
                      if(data.error)
                         alert(data.error);
                      else {
                          $("#itemspread-" + id).text(format_coins(data.spread));
                          $("#itembuy-" + id).text(format_coins(data.buy));
                          $("#itemsell-" + id).text(format_coins(data.sell));
                          $("#itemindexat-" + id).text(moment(data.indexedat).fromNow());
                      }
                  });
               }
           </script>
        </div>
    </main>
    <footer>
        <% include footer %>
    </footer>

</body>
</html>
